NEXT_PUBLIC_BASE_URL_SITES = https://api-tmdt.systems.com.vn
NEXT_PUBLIC_BASE_URL_CUSTOMERS = https://api-tmdt.systems.com.vn/customers
NEXT_PUBLIC_IMAGES_BASE_URL = https://ca-ctm.systems.com.vn/static
NEXT_PUBLIC_SECRET_KEY_CUSTOMERS = honeynet.vn