/* [project]/src/app/barlowfont_69089e21.module.css [app-client] (css) */
@font-face {
  font-family: barlowFont;
  src: url("../media/Barlow_Thin-s.p.6166dfc3.ttf") format("truetype");
  font-display: swap;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: barlowFont;
  src: url("../media/Barlow_ThinItalic-s.p.c992d1bf.ttf") format("truetype");
  font-display: swap;
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: barlowFont;
  src: url("../media/Barlow_ExtraLight-s.p.42eca462.ttf") format("truetype");
  font-display: swap;
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: barlowFont;
  src: url("../media/Barlow_ExtraLightItalic-s.p.0be20af3.ttf") format("truetype");
  font-display: swap;
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: barlowFont;
  src: url("../media/Barlow_Light-s.p.e567fe97.ttf") format("truetype");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: barlowFont;
  src: url("../media/Barlow_LightItalic-s.p.38dc9a17.ttf") format("truetype");
  font-display: swap;
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: barlowFont;
  src: url("../media/Barlow_Regular-s.p.35b2300f.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: barlowFont;
  src: url("../media/Barlow_Italic-s.p.6f8701a5.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: barlowFont;
  src: url("../media/Barlow_Medium-s.p.dd6e3010.ttf") format("truetype");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: barlowFont;
  src: url("../media/Barlow_MediumItalic-s.p.29b91358.ttf") format("truetype");
  font-display: swap;
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: barlowFont;
  src: url("../media/Barlow_SemiBold-s.p.3f1fc189.ttf") format("truetype");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: barlowFont;
  src: url("../media/Barlow_SemiBoldItalic-s.p.6d173012.ttf") format("truetype");
  font-display: swap;
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: barlowFont;
  src: url("../media/Barlow_Bold-s.p.f796fc52.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: barlowFont;
  src: url("../media/Barlow_BoldItalic-s.p.bbb37379.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: barlowFont;
  src: url("../media/Barlow_ExtraBold-s.p.6fca7236.ttf") format("truetype");
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: barlowFont;
  src: url("../media/Barlow_ExtraBoldItalic-s.p.dbae890d.ttf") format("truetype");
  font-display: swap;
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: barlowFont;
  src: url("../media/Barlow_Black-s.p.87edd4e7.ttf") format("truetype");
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: barlowFont;
  src: url("../media/Barlow_BlackItalic-s.p.d8b57afb.ttf") format("truetype");
  font-display: swap;
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: barlowFont Fallback;
  src: local(Arial);
  ascent-override: 103.13%;
  descent-override: 20.63%;
  line-gap-override: 0.0%;
  size-adjust: 96.96%;
}

.barlowfont_69089e21-module__zuPrCW__className {
  font-family: barlowFont, barlowFont Fallback;
}

.barlowfont_69089e21-module__zuPrCW__variable {
  --font-barlow: "barlowFont", "barlowFont Fallback";
}

/*# sourceMappingURL=src_app_barlowfont_69089e21_module_css_bad6b30c._.single.css.map*/